@section styles {
    <link rel="stylesheet" href="~/css/Modal.css" />
}

<div class="modal fade" id="confirmationBookingDeleteModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Delete</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-Conclose" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-secondary" id="confirmDeleteBtn" onclick="deleteModal(this, '#confirmationBookingDeleteModal', 'DeleteBookingPost', 'MMBookings');">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- CANCEL BOOKING -->
<div class="modal fade" id="confirmationBookingCancelModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Cancel</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel this booking?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-Conclose" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-secondary" id="confirmCancelBtn" onclick="cancelModal(this, '#confirmationBookingCancelModal', 'CancelBooking', 'Dashboard');">Yes</button>
            </div>
        </div>
    </div>
</div>
