<!-- confirm DELETE -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Delete</h5>
                <button type="button" style="width: 24px; height: 24px;"class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- confirm ADD -->
<div class="modal fade" id="confirmationAddModal" tabindex="-1" aria-labelledby="confirmationAddModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationAddModalLabel">Confirm Action</h5>
                <button type="button" style="width: 24px; height: 24px;" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to add this item?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideConfirmationModal('#confirmationAddModal', '#createUserModal' )">Close</button>
                <button type="button" class="btn btn-danger" id="confirmAddBtn" onclick="submitForm('#confirmAddBtn', "CreateUser", "Admin")">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- confirm EDIT -->
<div class="modal fade" id="confirmationEditModal" tabindex="-1" aria-labelledby="confirmationEditModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationEditModalLabel">Confirm Action</h5>
                <button type="button" style="width: 24px; height: 24px;" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to edit this item?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideConfirmationModal('#confirmationEditModal', '#editUserModal')">Close</button>
                <button type="button" class="btn btn-danger" id="confirmEditBtn">Edit</button>
            </div>
        </div>
    </div>
</div>










