@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="logosec">
        @HttpContextAccessor.HttpContext.Session.GetString("UserName")
        <div class="mr-20 hover-pointer" style="position: relative">
            <div class="dp">
                <img src="~/img/profile-logo.png"
                     class="dpicn hover-pointer"
                     onclick="location.href='/Setting/Index'"
                     alt="dp">
            </div>
        </div>
    </div>
</header>
