@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using static ASI.Basecode.Resources.Constants.Enums
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
    Console.WriteLine("===================================" + userRole);
    var redirectUrl = (userRole == UserRoleManager.ROLE_SUPER.ToString() || userRole == UserRoleManager.ROLE_ADMIN.ToString())
        ? "/Setting/AAIndex"
        : "/Setting/Index";
}
<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="logosec">
        @HttpContextAccessor.HttpContext.Session.GetString("UserName")
        <div class="mr-20 hover-pointer" style="position: relative">
            <div class="dp">
                <img src="~/img/profile-logo.png"
                     class="dpicn hover-pointer"
                     onclick="location.href='@redirectUrl'"
                     alt="dp">
            </div>
        </div>
    </div>
</header>
