<div class="modal fade login-error-modal" id="loginErrorModal" tabindex="-1" role="dialog" aria-labelledby="loginErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog login-error-modal__dialog" role="document">
        <div class="modal-content login-error-modal__content">
            <div class="modal-header login-error-modal__header">
                <h5 class="modal-title login-error-modal__title" id="customLoginErrorModalLabel">Wrong Credentials</h5>
            </div>
            <div class="modal-body login-error-modal__body">
                Invalid Email or Password
            </div>
            <div class="modal-footer login-error-modal__footer">
                <button type="button" class="btn btn-primary login-error-modal__button" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
