@using System.Security.Claims;
@using static ASI.Basecode.Resources.Constants.Enums;

@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var role = UserRoleManager.ROLE_REGULAR;
    if (claimsIdentity != null)
    {
        Enum.TryParse<UserRoleManager>(claimsIdentity.FindFirst(ClaimTypes.Role).Value, true, out var userRole);
        role = userRole;
    }
}
<div class="sidebar">
    <div class="logo-container">
        <img src="~/img/reservedit-logo.png" />
    </div>
    <ul>
        @switch (role)
        {
            case UserRoleManager.ROLE_SUPER:
                <li>
                    <a asp-action="Index" asp-controller="AAUser">
                        <img src="~/img/room-sidebar-logo.png" />
                        Users
                    </a>
                </li> 
                break;
            case UserRoleManager.ROLE_ADMIN:
                <li>
                    <a asp-action="Index" asp-controller="AARoom">
                        <img src="~/img/user-sidebar-logo.png" />
                        Rooms
                    </a>

                </li>
                <li>
                    <a asp-action="Index" asp-controller="AAUser">
                        <img src="~/img/room-sidebar-logo.png" />
                        Users
                    </a>
                </li>
                break;
            case UserRoleManager.ROLE_MANAGER:
                <li>
                    <a asp-action="Index" asp-controller="Dashboard">
                        <img src="~/img/dashboard-logo.png" />
                        Dashboard
                    </a>

                </li>
                <li>
                    <a asp-action="Index" asp-controller="Rooms">
                        <img src="~/img/user-sidebar-logo.png" />
                        Rooms
                    </a>

                </li>
                <li>
                    <a asp-action="Index" asp-controller="MMBookings">
                        <img src="~/img/bookings-logo.png" />
                        Bookings
                    </a>
                </li>
                <li>
                    <a asp-action="Month" asp-controller="Calendar" asp-route-year="@DateTime.Now.Year" asp-route-month="@DateTime.Now.Month">
                        <img src="~/img/calendar-logo.png" />
                        Calendar
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="MMAnalytics">
                        <img src="~/img/reports-logo.png" />
                        Reports
                    </a>
                </li>
                break;
            case UserRoleManager.ROLE_REGULAR:
                <li>
                    <a asp-action="Index" asp-controller="Dashboard">
                        <img src="~/img/dashboard-logo.png" />
                        Dashboard
                    </a>

                </li>
                <li>
                    <a asp-action="Index" asp-controller="Rooms">
                        <img src="~/img/user-sidebar-logo.png" />
                        Rooms
                    </a>

                </li>
                <li>
                    <a asp-action="Month" asp-controller="Calendar" asp-route-year="@DateTime.Now.Year" asp-route-month="@DateTime.Now.Month">
                        <img src="~/img/calendar-logo.png" />
                        Calendar
                    </a>
                </li>
                break;
        }
    </ul>
    <div class="list-2">
        <ul >
            <li>
                <a asp-action="Index" asp-controller="Setting">
                    <img src="~/img/settings-logo.png" />
                    Settings
                </a>
                
            </li>
            <li>
                <a asp-action="SignOutUser" asp-controller="Account"> <img src="~/img/logout-sidebar-logo.png" />Logout</a>
            </li>
        <ul>
    </div>
    
</div>
