<div class="modal fade create-success-modal" id="userCreateSuccessModal" tabindex="-1" role="dialog" aria-labelledby="createSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog create-success-modal__dialog" role="document">
        <div class="modal-content create-success-modal__content">
            <div class="modal-body create-success-modal__body">
                <img src="~/img/check-circle.png" alt="Login Image" class="create-success-modal__img">
                <h1 class="create-success-modal__title">Success!</h1>
                <h2 class="create-success-modal__subtitle">User has been created</h2>
            </div>
            <div class="modal-footer create-success-modal__footer">
                <button type="button" class="btn btn-primary create-success-modal__button" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
