@{
    ViewData["Title"] = "Error 404";
}

@section styles {
    <link rel="stylesheet" href="~/css/ErrorPage.css" />
}


<html>
<body>
    <div class="Body-container">
        <div class="Error-Container">
            <h1>404</h1>
            <h2>Ooops...</h2>
            <h3>Page Not Found</h3>
            <p>Oh snap! The page you seek is out chasing dreams. Good luck finding it!</p>
            <button class="gohome-btn">Back to Home</button>
        </div>
        <div class="Image-Error-Container">
            <img src="~/img/Error-404.png" alt="Error404 Image">
        </div>
    </div>
</body>
</html>
