@{
    ViewData["Title"] = "Error 403";
}

@section styles {
    <link rel="stylesheet" href="~/css/ErrorPage.css" />
}


<html>
<body>
    <div class="Body-container">
        <div class="Error-Container">
            <h1>403</h1>
            <h2>Not This Time</h2>
            <h3>Access Denied</h3>
            <p>Forbidden! This page is like a VIP lounge only selected few is allowed.</p>
            <button class="gohome-btn">Back to Home</button>
        </div>
        <div class="Image-Error-Container">
            <img src="~/img/Error-403.png" alt="Error403 Image">
        </div>
    </div>
</body>
</html>
