@{
    ViewData["Title"] = "Index";
}

@section styles {
    <link rel="stylesheet" href="~/css/calendar.css" />
    <link rel="stylesheet" href="~/css/admindashboard.css" />
}

<div class="calendar-header">
    <h1>Calendar</h1>
    <div class="month-navigation">
        <button class="month-button">June</button>
        <select class="month-select">
        </select>
        <button class="month-button">Aug</button>
    </div>
</div>


<div class="table-container">
    <div class="table-header">
        <div class="table-header-cell">SUN</div>
        <div class="table-header-cell">MON</div>
        <div class="table-header-cell">TUE</div>
        <div class="table-header-cell">WED</div>
        <div class="table-header-cell">THU</div>
        <div class="table-header-cell">SAT</div>
        <div class="table-header-cell">SUN</div>
    </div>

    <ul class="table-body">
        <li class="table-row">
            <div class="table-cell">
                <div class="day">1</div>
                <div class="bookings">
                    <div>test</div>
                    <div>test</div>
                </div>
            </div>
            <div class="table-cell">
                <div class="day">2</div>
                <div class="bookings">
                </div>
            </div>
            <div class="table-cell">
                <div class="day">3</div>
                <div class="bookings"></div>
            </div>
            <div class="table-cell">
                <div class="day">4</div>
                <div class="bookings"></div>
            </div>
            <div class="table-cell">
                <div class="day">5</div>
                <div class="bookings"></div>
            </div>
            <div class="table-cell">
                <div class="day">6</div>
                <div class="bookings"></div>
            </div>
            <div class="table-cell">
                <div class="day">7</div>
                <div class="bookings"></div>
            </div>
        </li>

        <li class="table-row">
            <div class="table-cell">
                <div class="day">8</div>
                <div class="bookings">
                    <div>test</div>
                    <div>test</div>
                </div>
            </div>
            <div class="table-cell"><div class="day">9</div></div>
            <div class="table-cell"><div class="day">10</div></div>
            <div class="table-cell"><div class="day">11</div></div>
            <div class="table-cell"><div class="day">12</div></div>
            <div class="table-cell"><div class="day">13</div></div>
            <div class="table-cell"><div class="day">14</div></div>
        </li>

        <li class="table-row">
            <div class="table-cell">
                <div class="day">15</div>
                <div class="bookings">
                    <div>test</div>
                    <div>test</div>
                </div>
            </div>
            <div class="table-cell"><div class="day">16</div></div>
            <div class="table-cell"><div class="day">17</div></div>
            <div class="table-cell"><div class="day">18</div></div>
            <div class="table-cell"><div class="day">19</div></div>
            <div class="table-cell"><div class="day">20</div></div>
            <div class="table-cell"><div class="day">21</div></div>
        </li>

        <li class="table-row">
            <div class="table-cell">
                <div class="day">22</div>
                <div class="bookings">
                    <div>test</div>
                    <div>test</div>
                </div>
            </div>
            <div class="table-cell"><div class="day">23</div></div>
            <div class="table-cell"><div class="day">24</div></div>
            <div class="table-cell"><div class="day">25</div></div>
            <div class="table-cell"><div class="day">26</div></div>
            <div class="table-cell"><div class="day">27</div></div>
            <div class="table-cell"><div class="day">28</div></div>
        </li>

        <li class="table-row">
            <div class="table-cell">
                <div class="day">29</div>
                <div class="bookings">
                    <div>test</div>
                    <div>test</div>
                </div>
            </div>
            <div class="table-cell"><div class="day">30</div></div>
            <div class="table-cell"><div class="day">31</div></div>
            <div class="table-cell"><div class="day">1</div></div>
            <div class="table-cell"><div class="day">2</div></div>
            <div class="table-cell"><div class="day">3</div></div>
            <div class="table-cell"><div class="day">4</div></div>
        </li>

    </ul>
</div>

<div class="save-button">
    <button type="button" class="btn btn-custom">Book Room</button>
</div>