@model ASI.Basecode.Services.ServiceModels.UserViewModel
<!-- CREATE USER -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Create User</h5>
                <hr class="custom-line" />
           @*      <button type="button" style="width: 24px; height: 24px;"class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button> *@
            </div>
            <div class="modal-body">
                <form id="createUserForm" onsubmit="" method="post" action="#">
                    <div class="user-details">
                        <div class="userName">
                            <div class="input-box">
                                <span class="details"> First Name</span>
                                <input asp-for="FirstName" name="FirstName" id="firstName" type="text" placeholder="Enter First Name" required />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <span class="details"> Last Name</span>
                                <input asp-for="LastName" name="LastName" id="lastName" type="text" placeholder="Enter Last Name" required />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="input-box">
                            <span class="details">Email</span>
                            <input asp-for="Email" name="Email" type="email" id="email" placeholder="Enter Email Address" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                         <div class="input-box">
                            <span class="details">Password</span>
                            <input asp-for="Password" name="Password" type="password" id="password" placeholder="Enter Password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="input-box">
                            <span class="details">Confirm Password</span>
                            <input asp-for="ConfirmPassword" name="ConfirmPassword" type="password" id="confirmPassword" placeholder="Reenter Password" required />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="input-box">
                            <span class="details">Role</span>
                            <select name="RoleId" class="form-select" id="" aria-label="Select Role" required>
                                <option value="" disabled>Select Role</option>
                                @foreach (var role in Model.Roles)
                                {
                                    <option value="@role.RoleId">@GetRoleDisplayName(role.RoleId)</option>
                                }
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-custom" id="createUserBtn" onclick="displayConfirmationModal('#createUserForm', '#createUserModal', '#confirmationAddModal', event)">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ConfirmationModal")

@functions {
    string GetRoleDisplayName(int roleId)
    {
        switch (roleId)
        {
            case 1:
                return "Admin";
            case 2:
                return "Regular User";
            case 3:
                return "Manager";
            default:
                return "";
        }
    }
}