@model ASI.Basecode.Services.ServiceModels.RoomViewModel

@section styles {
    <link rel="stylesheet" href="~/css/roomModal.css" />
}

<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createRoomModalLabel">Create Room</h5>
            </div>
            <div class="modal-body">
                <form id="createRoomForm" action="#">
                    <div class="firstHalf">
                        <!-- Thumbnail Upload -->
                        <div class="uploadPhoto">
                            <div class="form-group file-upload">
                                <label for="thumbnail">Thumbnail</label>
                                <div class="custom-file-upload">
                                    <input type="file" id="thumbnail" name="RoomThumbnailImg" onchange="showImage(event, 'thumbnailPreview')" accept="image/png, image/jpeg, image/jpg, image/heic" required />
                                    <label for="thumbnail" class="upload-icon"> <i class="fa fa-plus"></i> </label>
                                    <div class="image-container">
                                        <button type="button" class="delete-button" onclick="deleteImage('thumbnail')"><span>&times;</span></button>
                                        <img id="thumbnailPreview" class="image-preview" src="#" alt="Thumbnail Preview" style="display:none;" />
                                    </div>
                                </div>
                            </div>
                            <!-- Gallery Upload -->
                            <div class="form-group file-upload">
                                <label for="uploadImage">Upload Image</label>
                                <div class="default-file-upload">
                                    <input type="file" id="uploadImage" name="RoomGalleryImg" multiple onchange="displayFileNames(event)" />
                                </div>
                            </div>
                        </div>
                        <!-- Room Details -->
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="RoomName" placeholder="Enter room name" required />
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="Description" rows="4" placeholder="Enter room description" required></textarea>
                        </div>
                    </div>
                    <!-- Additional Information -->
                    <div class="secondHalf">
                        <div class="additional-info">
                            <label style="font-weight: 600; margin-bottom:20px;">Additional Information</label>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input type="text" id="location" name="Location" placeholder="Enter location" />
                            </div>
                            <div class="form-group">
                                <label for="capacity">Capacity</label>
                                <input type="number" id="capacity" name="Capacity" placeholder="Enter capacity" required />
                            </div>
                            <div class="form-group">
                                <label for="equipments">Equipments</label>
                                <textarea id="equipments" name="Equipments" rows="4" placeholder="Enter room equipments" required></textarea>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="button-group">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="submit"
                                    class="btn btn-custom"
                                    id="editUserBtn"
                                    onclick="displayConfirmationModal('#createRoomForm','#createRoomModal', '#confirmationRoomAddModal')">
                                Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ConfirmationModal")
