
.modal .modal-dialog {
    max-width: 32vw !important;
}

.modal .modal-body .form-group{
    display: grid;
}

#roomName {
    font-weight: 600;
    border: none;
}

.form-control[readonly]{
    background-color: white;
}

.modal form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.modal .modal-content {
    height: fit-content;
    padding: 30px;
}

.modal .modal-body .form-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: -10px;
    margin:0;
}

.modal .modal-body form .custom-recur {
    display: none; /* Hide the div initially */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto;
    width: 100%;
}

    .modal .modal-body form .custom-recur .custom-recur-title {
        font-size: medium;
    }

    .modal-body .checkbox-recur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 8px;
        margin-top: 10px;
    }

.modal-body .custom-recur label {
    font: menu;
    text-align: center;
    vertical-align: middle;
    overflow-wrap: anywhere;
    margin: 4px 0 0 0;
}

.modal .modal-body .setRecurrence {
    display: flex;
    justify-content: center;
    gap: 20px;
}

    .modal .modal-body .setRecurrence button {
        width: 20vh;
        height: 35px;
        font: 100;
        color: black;
        border-color: #ccc;
        white-space: nowrap;
    }

        .modal .modal-body .setRecurrence button:hover {
            background-color: #775965;
            font-weight: 600;
            color: white;
        }

        .modal .modal-body .setRecurrence button.active {
            background-color: #775965;
            color: white;
        }

.modal .modal-body .button-group {
    float: inline-end;
    margin-top: 5vh;
    display: flex;
    align-self: self-end;
    gap: 15px;
}

/*AYAW IREMOVE ANG SELECTOR DRI PLEASE, SENSITIVE NI SIYA*/
#createBookingModal .modal .modal-body .button-group .btn-close,
#createBookingModal .modal .modal-body .button-group .btn-custom {
    height: 5vh;
}

.btn-custom {
    background-color: #B5838E;
    color: white;
}

    .btn-custom:hover {
        color: white;
        background-color: #775965;
        font-weight: 600;
    }

.btn-close {
    color: #b5838e;
    background-color: none;
    border-color: #b5838e;
}

    .btn-close:hover {
        color: white;
        background-color: #775965;
        font-weight: 600;
    }

.btn-secondary, .btn-Conclose {
    width: 5vw;
}

.btn-secondary {
    color: white;
    background-color: #ffb3a3;
    border-color: #ffb3a3;
}

    .btn-secondary:hover {
        color: white;
        background-color: #775965;
        border-color: #775965;
        ;
        font-weight: 600;
    }

.btn-Conclose {
    color: #ffb3a3;
    background-color: none;
    border-color: #ffb3a3;
    overflow: hidden;
}

    .btn-Conclose:hover {
        color: white;
        background-color: #775965;
        border-color: #775965;
        font-weight: 600;
    }

