.main-container {
    overflow: hidden; /* Hide scrollbars */
}

.main-layout {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    height: 88%;
    margin: 0 0 1em 0;
}

h2 {
    font-weight: bold;
}

.calendar-header {
    height: auto;
}

.header-row-1 {
    display: flex;
    margin: 0 2rem 1rem 2rem;
}

.header-row-2 {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
}

    .header-row-2 .month-select {
        width: 11rem;
    }

    .header-row-2 .month-button {
        white-space: nowrap;
        font-weight: bold;
        font-size: 1.1em;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
    }

.table-container {
    height: 85% !important;
    display: flex !important;
    flex-direction: column !important;
}

.table-header {
    height: auto;
    background-color: #b5838e;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .table-header .table-header-cell {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
    }

.table-body {
    height: 90%;
    margin-bottom: 0rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*  overflow-y: auto;*/
}

.table-row {
    min-height: 17.66%;
    max-height: 17.66%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.table-cell {
    width: 14.285%;
    border: 1px solid #e6e6e6; /*#cacaca*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

    .table-cell .day {
        display: flex;
        justify-content: flex-end;
        margin: .5rem 1.4rem;
        font-weight: bold;
        font-size: 1.1vw;
        cursor: pointer;
    }

        .table-cell .day[disabled] {
            color: #9f9797;
            cursor: auto;
        }

    .table-cell .bookings {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        justify-content: flex-start;
        /*        overflow-y: hidden;*/
        overflow-y: scroll;
    }

.bookings::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.bookings > div {
    border-radius: 5px;
    height: auto;
    width: auto;
    margin: 3px 1px;
    text-align: right;
}

/*@media (max-width: 1520px) {
    .bookings > div {
        font-size: .6rem !important;
    }
}*/

@media screen and (max-width: 1980px) {
    .header-row-1 > h1 {
        margin: 0 35.9% 0 0;
    }

    .table-header {
        padding: .5rem 0rem;
    }

    .table-header-cell {
        font-size: 1rem;
    }

    .bookings > div {
        font-size: .9rem;
    }
}

@media screen and (max-width: 1366px) {
    .header-row-1 > h1 {
        margin: 0 28.8% 0 0;
    }

    .table-header {
        padding: .5rem 0rem;
    }

    .table-header-cell {
        font-size: .8rem;
    }

    .bookings > div {
        font-size: .6rem;
    }
}

@media screen and (max-width: 1280px) {
    .header-row-1 > h1 {
        margin: 0 27.1% 0 0;
    }
}

.color-1 {
    background-color: lightgreen;
}

.color-2 {
    background-color: lightskyblue;
}

.color-3 {
    background-color: lightcoral;
}

.color-4 {
    background-color: lightsteelblue;
}

.color-5 {
    background-color: lightsalmon;
}

.book-button {
    display: flex;
    justify-content: center;
    margin: 1rem;
    height: auto;
}

    .book-button > button {
        white-space: nowrap;
        font-weight: bold !important;
        width: 9rem;
        height: auto;
        margin: .5rem;
    }
