.main-layout {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 88%;
}

.calendar-header {
    text-align: center;
    height: auto;
}

.month-navigation {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
}

    .month-navigation .month-select {
        width: 11rem;
    }

    .month-navigation .month-button {
        /*width: 5rem;*/
        white-space: nowrap;
        font-weight: bold;
        font-size: 1.1em;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
    }

.table-container {
    height: 70% !important;
    display: flex !important;
    flex-direction: column !important;
}

.table-header {
    height: 10%;
    background-color: #b5838e;
    color: white;
    padding: .75rem 0rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .table-header .table-header-cell {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
    }

.table-body {
    height: 90%;
    margin-bottom: 0rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-row {
    min-height: 20%;
    max-height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.table-cell {
    width: 14.28%;
    border: 1px solid #e6e6e6; /*#cacaca*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

    .table-cell .day {
        display: flex;
        justify-content: flex-end;
        margin: .5rem 1.4rem;
        font-weight: bold;
        font-size: 1.1vw;
        cursor: pointer;
    }

        .table-cell .day[disabled] {
            color: #9f9797;
            cursor: auto;
        }

    .table-cell .bookings {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        justify-content: flex-start;
        overflow-y: hidden;
    }

.bookings > div {
    border-radius: 5px;
    height: auto;
    width: auto;
    margin: 3px 1px;
    text-align: right;
}

/*    .bookings > div:nth-child(n+30) {
        display: none;
    }*/

.color-1 {
    background-color: lightgreen;
}

.color-2 {
    background-color: lightskyblue;
}

.color-3 {
    background-color: lightcoral;
}

.color-4 {
    background-color: lightsteelblue;
}

.color-5 {
    background-color: lightsalmon;
}

.book-button {
    display: flex;
    justify-content: center;
    margin: 1rem;
    height: auto;
}

    .book-button > button {
        white-space: nowrap;
        font-weight: bold !important;
        width: 9rem;
        height: auto;
        margin: .5rem;
    }
