/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Apply Montserrat font to body */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Custom modal header */
.modal-content {
    background-color: #ff0000;
    color: #ffffff;
}

.modal-title{
    color: aqua;
}

/* Custom modal body */
.modal-body-custom {
    background-color: #f8f9fa;
}

/* Custom modal footer */
.modal-footer-custom {
    background-color: #343a40;
    color: #ffffff;
}

/* Custom button styles */
.btn-custom {
    background-color: #007bff;
    color: #ffffff;
}

    .btn-custom:hover {
        background-color: #0056b3;
        color: #ffffff;
    }
