.Whole {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 800px; /* Limit the width for better layout */
    margin: auto; /* Center the whole div */
}

.Error-Message {
    flex: 1; /* Take up available space */
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px; /* Space between text and image */
    color: #dc3545; /* Bootstrap danger color */
    text-align: left; /* Align text to the left */
}

.Image-Error {
    flex: 1; /* Take up available space */
}

    .Image-Error img {
        max-width: 100%;
        height: auto;
    }
