html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF2EA;
    overflow: hidden;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100vh;
}

.image-container {
    flex: 1;
    background-image: url('~/img/login-image.jpg');
    background-size: cover;
    background-position: center;
}

    .image-container img {
        width: 100%;
        height: 100%;
        border-radius: 0 50px 50px 0;
    }

.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    background-color: #fff3e6;
    height: 100%;
}

.login-header {
    text-align: center;
    margin-bottom: 10px;
}

    .login-header img {
        max-width: 150px;
        margin-bottom: 5px;
        border-radius: 100%;
        background-color: white;
    }

    .login-header h2 {
        margin: 0;
    }

    .login-header p {
        margin: 5px 0 20px;
        color: #777;
    }

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.contact-info p {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    color: #555;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    justify-items: center;
}

.login-btn {
    padding: 10px 10px 7px 10px;
    background-color: #B5838E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 55px;
}

    .login-btn:hover {
        background-color: #775965;
        color: white;
        font-weight: 600;
    }

.contact-info {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

    .contact-info a {
        color: #007bff;
        text-decoration: none;
    }

        .contact-info a:hover {
            text-decoration: underline;
        }

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

    .password-container .form-control {
        padding-right: 2.5rem;
    }

    .password-container .toggle-password {
        position: absolute;
        right: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .password-container .toggle-pic {
        width: 1.5rem;
        height: auto;
    }

.form-outline {
    position: relative;
    padding-bottom: 30px; /* Ensure space for error messages */
    height: 70px; /* Fixed height to keep spacing consistent */
}

.text-danger {
    position: absolute;
    margin-top: 1%;
    left: 0;
    font-size: 12px;
    visibility: hidden; /* Hide by default */
}

    .text-danger:empty {
        visibility: hidden; /* Ensure hidden if empty */
    }

    .text-danger:not(:empty) {
        visibility: visible; /* Unhide if not empty */
    }

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        height: auto;
    }

    .image-container {
        display: none;
    }

    .login-form {
        width: 100%;
        height: auto;
    }
}
