/* Adjust modal dialog max-width for specific modals */
#viewRoomCardModal .modal-dialog {
    max-width: 1500px !important; /* Adjust as needed */
}

/* Ensure modal content height adjusts to fit its content */
.modal-content {
    height: fit-content;
}

/* Flexbox layout for form elements */
.modal-body form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Image container styling */
.image-container-view {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure image does not overflow */
    height: 400px; /* Adjust height as needed */
    border-radius: 10px; /* Rounded corners */
}

    /* Image styling */
    .image-container-view img {
        width: fit-content; /* Ensure image takes full width of container */
        height: 100%; /* Ensure image takes full height of container */
        object-fit: cover; /* Maintain aspect ratio and cover container */
        border-radius: 10px; /* Rounded corners */
    }

/* Custom file upload container */
.modal-body .custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    height: 100px;
    width: 10vw; /* Adjust width as needed */
}

/* Upload icon styling */
.custom-file-upload .upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #f8f8f8;
    border-radius: 50%;
}

/* Button group styling */
.modal-body .button-group {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

/* Custom button styles */
.btn-custom {
    width: 7vw; /* Adjust width as needed */
    background-color: #B5838E;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 12px;
    padding: 8px;
}

/* Equipment list styles */
#equipmentList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

    #equipmentList li {
        background-color: #f8f8f8;
        margin-bottom: 5px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
