.custom-modal-dialog {
    position: fixed;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-modal-content {
    max-width: 800px;
    left: 60%;
}

.modal-image {
    max-width: 100%;
    height: auto;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between items */
    padding: 10px;
    height: 100%; /* Ensure the container takes full height of its parent */
}
    .description-container h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .description-container h5
    {
        font-size: 16px;
        font-weight: bold;
    }

    .description-container p {
        text-align: justify;
        font-size: 13px;
    }

    .description-container button {
        align-self: flex-end; /* Align the button to the right side */
        margin-top: 20px; /* Space above the button, adjust as needed */
        background: #B5838E;
    }
        .description-container button:hover {
            opacity: 0.75;
            background: #B5838E;
        }

.room-info {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: auto auto; /* 2 rows */
    gap: 20px; /* Space between items */
    margin-top: 20px;
}

.room-info-item {
    display: grid;
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto auto auto; /* 3 rows */
    align-items: center;
    justify-items: center; /* Center horizontally within each grid cell */
    text-align: center; /* Center text within each grid cell */
    margin-bottom: 15px;
    border: 2px solid #CACACA;
    height: 80px;
    border-radius: 10px;
    padding: 5px; /* Optional: Add padding if needed */
}

    .room-info-item i {
    margin-right: 10px;
    font-size: 20px;
    }

    .room-info-item span {
        margin-right: 10px;
        font-size: 10px;
        font-weight: bold;
    }

    .room-info-item p {
        margin-right: 10px;
        font-size: 10px;
        justify-items: center; /* Center horizontally within each grid cell */
        text-align: center; /* Center text within each grid cell */
    }

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.close {
    position: absolute; /* Position the close button absolutely within the modal content */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Align the button to the right side */
    background: #B5838E;
    border: none;
    font-size: 1.5rem;
    color: #000;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1050; /* Ensure it's above other content */
}

.close:hover {
    opacity: 0.75;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #CACACA; /* Change this to your desired color */
    border-radius: 50%;
    padding: 15px;
    margin-top: 30px;
    width: 20px; /* Adjust the width of the icon */
    height: 20px; /* Adjust the height of the icon */
}

.carousel-control-prev .sr-only,
.carousel-control-next .sr-only {
    color: #FFFFFF; /* Change this to your desired color for screen readers text */
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: 0px; /* Adjust this value as needed to move the controls down */
}

.carousel-inns {
    height: 60vh;
    width:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .carousel-inns img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }