.modal#viewRoomCardModal .modal-dialog {
    width: 90vw !important;
    max-width: 90vh !important;
    left: 5%;
}

#viewRoomModal .modal-content {
    max-width: 800px;
    left: 30%;
}

.modal-image {
    max-width: 100%;
    height: 65vh;
    object-fit: cover; /* or object-fit: contain; based on your preference */
    border-radius: 10px;
}

.description-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%; /* Ensure the container takes full height of its parent */
}

    .description-container h1 {
        font-size: 25px;
    }

    .description-container h5 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
    }

    .description-container p {
        text-align: justify;
        font-size: 13px;
        max-height: 65px;
        height: 65px;
        margin-bottom: 10px;
    }

    .description-container .btn-close {
        background: #B5838E;
        padding: 20px;
        font-size: 13px;
        font-weight: normal;
        border-radius: 5px;
        width: 80px;
        border: none;
        top: 120%;
        height: 30px;
        color: white;
        margin-top: 100px;
        margin-left: 50px;
        text-align: center;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

        .description-container .btn-close:hover {
            opacity: 0.75;
            background: #B5838E;
        }

.room-info {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: auto auto; /* 2 rows */
    gap: 15px; /* Space between items */
    margin-top: 50px;
}

.room-info-item {
    display: grid;
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto auto auto; /* 3 rows */
    align-items: center;
    justify-items: center; /* Center horizontally within each grid cell */
    text-align: center; /* Center text within each grid cell */
    height: 80px;
    border-radius: 10px;
    padding: 13px; /* Optional: Add padding if needed */
    gap:3px;
}

    .room-info-item i {
        margin-right: 10px;
        font-size: 20px;
    }

    .room-info-item span {
        margin-right: 10px;
        font-size: 10px;
        font-weight: bold;
    }

    .room-info-item p {
        margin-right: 10px;
        font-size: 10px;
        justify-items: center; /* Center horizontally within each grid cell */
        text-align: center; /* Center text within each grid cell */
    }

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

/*.btn-close {
    background-color: #6c757d;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 80px;
}*/

.btn-close:hover {
    background-color: #6c757d;
    color: white;
    font-weight: 600;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #CACACA; /* Change this to your desired color */
    border-radius: 50%;
    padding: 15px;
    margin-top: 30px;
    width: 20px; /* Adjust the width of the icon */
    height: 20px; /* Adjust the height of the icon */
}

.carousel-control-prev .sr-only,
.carousel-control-next .sr-only {
    color: #FFFFFF; /* Change this to your desired color for screen readers text */
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: 0px; /* Adjust this value as needed to move the controls down */
}

.carousel-inns {
    height: 60vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .carousel-inns img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
