@section styles {
    <link rel="stylesheet" href="~/css/viewRoomCard.css" />
}

<!-- View Room Card Modal -->
<div class="modal fade" id="viewRoomCardModal" tabindex="-1" role="dialog" aria-labelledby="viewRoomCardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1004px; height: 646px;">
        <div class="modal-content">
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row">
                    <!-- Left Column for Image -->
                    <div class="image-container-view">
                        <img src="~/img/login-image.jpg" alt="Login Image">
                    </div>
                    <!-- Right Column for Text -->
                    <div class="col-md-6">
                        <p>Your text content here...</p>
                    </div>
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

</script>
