

@section styles {
    <link rel="stylesheet" href="~/css/ErrorPage.css" />
}

<div class="Whole">
    <div class="Error-Message">

    </div>
    <div class="Image-Error">
        <img src="~/img/Error-403.png" alt="Error403-Image">
    </div>
</div>