@*@model IEnumerable<ASI.Basecode.Services.ServiceModels.BookingViewModel>*@

@{
    ViewData["Title"] = "Error Page";
}

@section styles {
    <link rel="stylesheet" href="~/css/reportsAndAnalytics.css" />
}

<div>

</div>