@{
    ViewBag.Title = "Home Page"; /// remove later
}

<div class="text-center">
    
    <p>These are just temporary buttons to trigger modals</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">
        Delete (Temp btn)
    </button>

    <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#createUserModal">
        Create User (Temp btn)
    </button>    
    
    <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#editUserModal">
        Edit User (Temp btn)
    </button>
</div>

