@{
    ViewData["Title"] = "Test";
}

<div style="float: right" onkeyup="filterTable()">
    @{
        await Html.RenderPartialAsync("_SearchBarPartial");
    }
</div>

<h1>Test</h1>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                Water
            </th>
            <th>
                Earth
            </th>
            <th>
                Fire
            </th>
            <th>
                Air
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Pizza
            </td>
            <td>
                Ice Cream
            </td>
            <td>
                Sprite
            </td>
            <td>
                Coke
            </td>
        </tr>

        <tr>
            <td>
                Pepsi
            </td>
            <td>
                Watermelon
            </td>
            <td>
                Firefly
            </td>
            <td>
                Fair
            </td>
        </tr>

    </tbody>
</table>
