@model ASI.Basecode.Services.ServiceModels.RoomViewModel
<!-- View Room Card -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    
</div>

