@model ASI.Basecode.Services.ServiceModels.RoomViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RoomViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostCreate" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomName" class="control-label"></label>
                <input asp-for="RoomName" class="form-control" />
                <span asp-validation-for="RoomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Facility" class="control-label"></label>
                <input asp-for="Facility" class="form-control" />
                <span asp-validation-for="Facility" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="RoomThumbnailImg" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="RoomThumbnailImg" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="RoomThumbnailImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomGalleryImg" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="RoomGalleryImg" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="RoomGalleryImg" class="text-danger"></span>
            </div>

            <h4>Equipment</h4>
            <div id="equipment-list">
                <div class="form-group equipment-item">
                    <label>Equipment Name</label>
                    <input name="RoomEquipments[0].EquipmentName" class="form-control" />
                    <label>Type</label>
                    <input name="RoomEquipments[0].Type" class="form-control" />
                    <button type="button" class="btn btn-danger remove-equipment">Remove</button>
                </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RoomView">Back to List</a>
</div>

@section Scripts {
    <script>
        var errMessage = '@TempData["DuplicateErr"]';
        if (errMessage) {
            toastr.error(errMessage);
        }
    </script>
}
